<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.logyca.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.logyca.app.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.logyca.app.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.logyca.app.NewsActivity"
            android:label="@string/title_activity_news" >
        </activity>
        <activity
            android:name="com.logyca.app.NewsActivityListActivity"
            android:label="@string/title_newsactivity_list" >
        </activity>
        <activity
            android:name="com.logyca.app.NewsActivityDetailActivity"
            android:label="@string/title_newsactivity_detail"
            android:parentActivityName="com.logyca.app.NewsActivityListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.logyca.app.NewsActivityListActivity" />
        </activity>
        <activity
            android:name="com.logyca.app.DescriptionActivity"
            android:label="@string/title_activity_description" >
        </activity>
        <activity
            android:name="com.logyca.app.TrendsActivity"
            android:label="@string/title_activity_trends" >
        </activity>
    </application>

</manifest>
