<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.logyca"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.logyca.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity android:name="com.facebook.LoginActivity" />
        <activity
            android:name="com.logyca.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.logyca.NFCReaderActivity"
            android:label="@string/title_activity_nfcreader"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.logyca.NewsActivity"
            android:label="@string/title_activity_news" >
        </activity>
        <activity
            android:name="com.logyca.NewsActivityListActivity"
            android:label="@string/title_newsactivity_list" >
        </activity>
        <activity
            android:name="com.logyca.NewsActivityDetailActivity"
            android:label="@string/title_newsactivity_detail"
            android:parentActivityName="com.logyca.app.NewsActivityListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.logyca.app.NewsActivityListActivity" />
        </activity>
        <activity
            android:name="com.logyca.DescriptionActivity"
            android:label="@string/title_activity_description" >
        </activity>
        <activity
            android:name="com.logyca.TrendsActivity"
            android:label="@string/title_activity_trends" >
        </activity>
        <activity
            android:name="com.logyca.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="com.logyca.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.logyca.QRReaderActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_qrreader" >
            <intent-filter>
      			<action android:name="com.google.zxing.client.android.SCAN"/>
      			<category android:name="android.intent.category.DEFAULT"/>
    		</intent-filter>
        </activity>
    </application>

</manifest>
